@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

:root {
    --color-neutral-0: #01040B;
    --color-neutral-10:#2F3A45;
    --color-neutral-20:#677888;
    --color-neutral-30:#DDB957;
    --color-neutral-40:#F2F7EF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
}

body {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100vw;
    margin: 3px;
    background-color: #141414;
}

header,
nav,
main,
aside,
footer {
    display: flex;
    margin: 3px;
}

header {
    flex: 1 1 100vw;
    background-color: #00002c;
    color: white;
    font-family: 'Oswald', sans-serif;
}

header #logo {
    padding: 20px;
    display: flex;
    width: 150px;
}

#openMenu,
#closeMenu {
    border: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
    display: none;
    color: var(--color-neutral-40);
}

nav {
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 200px;
}

nav a {
    margin: 0 3%;
    font-size: 15pt;
}

main {
    flex: 20 1 500px;
    background-color: #141414;
    width: 68%;
}

aside {
    flex: 1 1 200px;
    width: 100%;
    height: 100%;
    border-radius: 15px;    
}

footer {
    width: 100%;
    color: #ffffff;
}

#linkfooter:hover {
    background-color: #3f3f3f;
}

a {
    text-decoration: none;
    color: inherit;
}

#linkmenu:hover {
    background-color: rgba(103, 120, 136, 0.6);
    border-radius: 7px;
    padding: 5px;
}

.logo {
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
}

#Logo {
    border-radius: 100px;
    width: 135px;
}

#anuncio {
    height: 630px;
    width: 323px;
    cursor: pointer;
    bottom: 30px;
}

section {
    font-family: 'Oswald', sans-serif;
    color: aliceblue;
    padding: 70px;
    display: grid;
    height: 1000px;
    grid-template-columns: 200px fr;
    font-size: 1em;
    vertical-align: middle;
    border-radius: 15px;
}

section img {
    border-radius: 15px;
    border-radius: 15px;
    max-width: 180px;
    scale: 1.1;
}

section a {
    text-decoration: none;
    display: grid;
    grid-template-columns: 200px 3fr;
    font-size: 1.5em;
}

.imgsection {
    max-width: 180px;
}

section a:hover {
    border-radius: 15px;
    background-color: #181818;
}

section h1 {
    font-size: 1.7em;
    font-family: 'Noto Serif Makasar', serif;
    text-align: center;
}


@media screen and (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header #logo {
        width: 100%;
        justify-content: center;
    }

    #openMenu,
    #closeMenu {
        display: block;
    }

    nav {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: rgba(255, 255, 255, 0.8);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        display: none;
        opacity: 0;
        transition: 0.3s;
        color: black;
        z-index: 1;
    }

    nav a {
        margin: 3%;
        z-index: 1;
    }

    main {
        width: 100%;
    }

    section {
        grid-template-columns: 1fr;
        padding: 20px;
        font-size: 0.9em;
    }

    section img {
        max-width: 100%;
    }
}

@media screen and (max-width: 425px) {
    nav a {
        font-size: 14pt;
    }

    section {
        padding: 5px;
        font-size: 0.8em;
    }

    main {
        font-size: 0.9em;
    }

    .imgsection {
        width: 160px;
        height: auto;
    }
}

@media only screen and (max-width: 1024px) {
    header {
        padding: 10px 20px;
    }

    main {
        padding: 20px;
    }

    aside {
        margin-left: 0;
    }
}